@model Funcionario

@{
    ViewData["Title"] = "Editar Funcionario";
}

<h4>Funcionario</h4>

<form asp-action="Edit" id="myform">

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-title"><h6>Informações Básicas</h6></div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label">Nome</label>
                                <input asp-for="Nome" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <select asp-for="Status" asp-items="@ViewBag.Status" class="form-control form-control-sm">
                                    <option selected="selected" value="0">Selecione</option>
                                </select>
                            </div>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Funcao" class="control-label">Função</label>
                                <input asp-for="Funcao" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="Funcao" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="DtAdmissao" class="control-label">Data de Admissão</label>
                                <input asp-for="DtAdmissao" type="date" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="DtAdmissao" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="DtDemissao" class="control-label">Data de Demissão</label>
                                <input asp-for="DtDemissao" type="date" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="DtDemissao" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Turno" class="control-label">Turno</label>
                                <select asp-for="Turno" asp-items="@ViewBag.Turno" class="form-control form-control-sm">
                                    <option selected="selected" value="0">Selecione</option>
                                </select>
                            </div>
                            <span asp-validation-for="Turno" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Salario" class="control-label">Salario</label>
                                <input asp-for="Salario" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="Salario" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Beneficio" class="control-label">Beneficio</label>
                                <input asp-for="Beneficio" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="Beneficio" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-4 mt-3">
                    <input type="submit" value="Atualizar" class="btn btn-info btn-sm w-150" /> |
                    <a class="btn btn-outline-secondary btn-sm w-150" asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</form>