@{
    ViewData["Title"] = "SMARTFY TECH TALKS";
}

<div class="text-left">
    <h4>Bem vindo!</h4>
    <p style="font-weight:900">SMARTFY TECH TALKS</p>
</div>

<div class="row">
    <h1>SMARTFY TECH TALKS</h1>
</div>