@{
    ViewData["Title"] = "Dashboard PWC";
}

<div class="text-left">
    <h4>Bem vindo!</h4>
    <p style="font-weight:900">Dashboard PWC</p>
</div>

<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100">
            <a asp-controller="Partner" asp-action="Index" style="text-decoration: none">
                <div class="card-body mt-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-info text-uppercase">
                                <h2 style="font-size: 2em;" class="mt-2">Empresas Parceiras</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100">
            <a asp-controller="Team" asp-action="Index" style="text-decoration: none">
                <div class="card-body mt-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-danger text-uppercase">
                                <h2 style="font-size: 2em;" class="mt-2">Equipes</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100">
            <a asp-controller="Area" asp-action="Index" style="text-decoration: none">
                <div class="card-body mt-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-success text-uppercase">
                                <h2 style="font-size: 2em;" class="mt-2">Áreas</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100">
            <a asp-controller="Camera" asp-action="Index" style="text-decoration: none">
                <div class="card-body mt-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-warning text-uppercase">
                                <h2 style="font-size: 2em;" class="mt-2">Câmeras</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100">
            <a asp-controller="Region" asp-action="Index" style="text-decoration: none">
                <div class="card-body mt-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-info text-uppercase">
                                <h2 style="font-size: 2em;" class="mt-2">Regiões</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100">
            <a asp-controller="Camera" asp-action="Index" style="text-decoration: none">
                <div class="card-body mt-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-danger text-uppercase">
                                <h2 style="font-size: 2em;" class="mt-2">Discos</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100">
            <a asp-controller="Camera" asp-action="Index" style="text-decoration: none">
                <div class="card-body mt-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-success text-uppercase">
                                <h2 style="font-size: 2em;" class="mt-2">Dockstation</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100">
            <a asp-controller="Camera" asp-action="Index" style="text-decoration: none">
                <div class="card-body mt-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-warning text-uppercase">
                                <h2 style="font-size: 2em;" class="mt-2">Equipes</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>