@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@model ClienteVM
@{ var tokenSet = antiforgery.GetAndStoreTokens(Context); }

<fieldset class="fieldset">
    <form asp-action="Pesquisa" id="myform">

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-12">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="card-title"><h6>Filtros</h6></div>
                        <div class="row">
                            <div class="col-1">
                                <div class="form-group">
                                    <label class="control-label">Nome</label>
                                    <input asp-for="FilterName" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label class="control-label">CPF</label>
                                    <input asp-for="FilterCPF" id="FilterDescricao" name="FilterDescricao" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label class="control-label">Endereço</label>
                                    <input asp-for="FilterAddress" type="date" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <input type="submit" value="Pesquisar" class="btn btn-success w-150" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</fieldset>

<fieldset class="fieldset">
    <legend>Clientes da KeepTrack</legend>
    <div class="row-fluid">
        <div class="span6">
            @Html.AntiForgeryToken()
            <table id="dt" class="dt table table-striped table-bordered"
                   style="width:100%"
                   data-url="/Cliente/List"
                   data-cols="name,cpf,address"
                   data-what="Clientes KeepTrack"
                   data-delete-url="/Cliente/Delete"
                   data-create-url="/Cliente/Create"
                   data-edit-url="/Cliente/Edit">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>End.</th>
                        <th data-orderable="false" class="w-110"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</fieldset>
<br />

<!-- Modal -->
<div class="modal fade" id="excludecliente" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>Você esta prestes a deletar <b id="cliente"></b>, essa ação não poderá mais ser desfeita.</p>
                <input type="hidden" id="clienteId" />
            </div>
            <div class="modal-footer">
                <button id="btnCloseModal" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a id="btnDeleteConfirmed" href="" type="submit" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </div>
</div>

<!-- PUSH JS likes-->
@section Scripts {
    <script>
$('#btnDeleteConfirmed').click(function () {
            //cb starts
            deleteItem($('#clienteId').val());
            //cb ends
        });


        function displayItem(clienteId) {
            //pegar o item
            $.ajax({
                url: '/api/Cliente/' + clienteId,
                method: 'GET'
            }).done(function (data) {
                console.log(data.descricao);
                $("#cliente").text(data.descricao);
                $("#clienteId").val(data.id);
            }).fail(function (errorMsg) {
                console.log(errorMsg);
                alert('Failed to save.');
            });
            //
        }

        function deleteItem(clienteId) {
            console.log(clienteId);



            $.ajax({
                url: '/Cliente/DeleteConfirmed',
                type: 'POST',
                headers: {
                    '@tokenSet.HeaderName' : '@tokenSet.RequestToken'
                },
                data: {
                    Id: clienteId
                },
                dataType: "json",
                success: function (response)
                {
                    @*$("excludeproduct").hide();
                    location.reload();*@

                },
                error: function (xhr) {
                }
            });

        }

        function rowCallBack(row, data) {

            $(row).find('#btn-remove').unbind('click').click(function () {
                displayItem(data.dT_RowId);
            });
        }</script>


}
