@model Produto

@{
    ViewData["Title"] = "Editar Produto";
}

<h4>Produtos</h4>

<form asp-action="Edit" id="myform">

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-title"><h6>Informações Básicas</h6></div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Codigo" class="control-label">Codigo</label>
                                <input asp-for="Codigo" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="Codigo" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label">Descricao</label>
                                <input asp-for="Descricao" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="DtVencimento" class="control-label">Data de Vencimento</label>
                                <input asp-for="DtVencimento" type="date" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="DtVencimento" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <div class="form-group text-center">
                                <label asp-for="IsPerecivel" class="control-label">Perecível</label>
                                <input asp-for="IsPerecivel" class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="IsPerecivel" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <select asp-for="Status" asp-items="@ViewBag.Status" class="form-control form-control-sm">
                                    <option selected="selected" value="0">Selecione</option>

                                </select>
                            </div>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Clientes</label>
                                <select asp-for="Status" asp-items="@ViewBag.ClientesComNumero3" class="form-control form-control-sm">
                                    <option selected="selected" value="0">Selecione</option>

                                </select>
                            </div>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-4 mt-3">
            <input type="submit" value="Atualizar" class="btn btn-info btn-sm w-150" /> |
            <a class="btn btn-outline-secondary btn-sm w-150" asp-action="Index">Voltar</a>
        </div>

    </div>

</form>