<fieldset class="fieldset">
    <legend>Listagem de Produtos</legend>
    <div class="row-fluid">
        <div class="span6">
            @Html.AntiForgeryToken()
            <table id="dt" class="dt table table-striped table-bordered"
                   style="width:100%"
                   data-url="/Produto/List"
                   data-cols="codigo,descricao,dtvencimento,isperecivel,status"
                   data-what="Produtos KeepTrack"
                   data-delete-url="/Produto/Delete"
                   data-create-url="/Produto/Create"
                   data-edit-url="/Produto/Edit">
                <thead>
                    <tr>
                        <th>Cod.</th>
                        <th>Descricao</th>
                        <th>Data de Vencimento</th>
                        <th>Perecível</th>
                        <th>Status</th>
                        <th data-orderable="false" class="w-110"></th>
                    </tr>                 
                </thead>
            </table>
        </div>
    </div>
</fieldset>
<br />