<fieldset class="fieldset">
    <legend>Listagem de Empresas</legend>
    <div class="row-fluid">
        <div class="span6">
            @Html.AntiForgeryToken()
            <table id="dt" class="dt table table-striped table-bordered"
                   style="width:100%"
                   data-url="/Partner/List"
                   data-cols="name,email,contato"
                   data-what="Listagem de Empresas"
                   data-delete-url="/Partner/Delete"
                   data-create-url="/Partner/Create"
                   data-edit-url="/Partner/Edit">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Contato</th>
                        <th data-orderable="false" class="w-110"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</fieldset>
<br />